<ul class="nav nav-tabs" role="tablist" id="myTab">
  <li class="<%= 'active' if @top_nav == 'list' %>"><a href="<%= oral_questions_path %>" role="tab" class="black">跟读列表</a></li>
  <li class="<%= 'active' if @top_nav != 'list' %>"><a href="<%= choose_range_oral_questions_path %>" class="_tpo_oral_input" role="tab">跟读录入</a></li>
</ul>
