<ul class="nav nav-tabs" role="tablist" id="myTab">
  <li class="<%='active' if controller_name == 'jijing_questions' && action_name == 'index'%>"><a href="/jijing_questions">机经口语列表</a></li>
  <li class="<%='active' if controller_name == 'jijing_groups' || controller_name == 'jijing_tasks' || action_name == 'new'%>"><a href="/jijing_groups">机经口语录入</a></li>
</ul>