<ul class="nav nav-tabs" role="tablist" id="myTab">
  <li class="<%='active' if action_name == 'writ_index'%>"><a href="/tpo_questions/writ_index" class="black">写作列表</a></li>
  <li class="<%='active' if action_name == 'writ_new_type' || action_name == 'writ_new'%>"><a href="/tpo_questions/writ_new_type">写作录入</a></li>
</ul>