<ul class="nav nav-tabs" role="tablist" id="myTab">
  <li class="<%='active' if action_name == 'index' %>"><a href="<%= beck_questions_path %>">题库列表</a></li>
  <li class="<%='active' if action_name == 'new' %>"><a href="<%= new_beck_question_path %>">批量录入</a></li>
</ul>