button.btn{width:200px;height:50px;background-color: #89c7d5;color:#fff;margin-left:12px;margin-top:20px;margin-bottom: 20px;}
p button .btn{margin-left:50px;}
#btn3,#btn4{margin-bottom:20px;}
#btn3{background:#f9b03e;margin-left:150px;margin-right:20px;border:none;}
#btn4{background:#ababab;color:#fff}
#btn_sub{margin-left:250px;}
#btn_sub1{margin-left:250px;}