/* select .se1{width:250px;height:40px;}
select .se2{width:150px;height:40px;} */
.form-group input.file{margin-left:120px;margin-top:-45px;}
.form1 input.form-control{width:250px;height:40px;margin-left:440px;margin-top:-65px;}
form.navbar-form{height:60px;}
input.search{margin-left:660px;margin-top:-110px;}
/**/
