
.w1500{width: 1500px;height:100px;background:#5ac18a;}
.h885{width:1500px;min-height:1314px;background:#eeeef4;height:auto !important;}
.W250{width:250px;height: 490px;margin-top: 30px;margin-left: 250px;}
.W730{width:730px;min-height:735px;background: #fdfdff;margin-top: 30px;margin-left: 520px;height:auto !important;}
.mid{margin:0 auto;}
.logo{margin-left: 250px;}
.header h1{margin-top: -70px;margin-left: 340px;}
.header h5{margin-top: 10px;margin-left: 410px;}
.W250{float:left;}
 .W730{float:right;margin-top:-490px;margin-right:250px;margin-bottom:20px;} 
 p.unit{width:300px;height:30px;padding-top: 17px;padding-left:25px;}
 select.form-control.se1{ margin-top: 20px;margin-left:10px;} 
 select.form-control.se2{margin-left:240px;margin-top: -45px;} 
 span{color:#999;}
 a{padding-right: 20px;}



