#form6{margin-top:20px;}
#form6 label{font-weight: normal;}
#form6 textarea,#form6 input{margin-left:-15px;font-size: 12px;margin-top:0px;}
#form6 textarea{height:140px;}
/* #form6 input{height:40px;} */
#form6 label{font-size: 12px;}
#navbar p{padding-left:280px;margin-bottom:-5px;font-size: 12px;}
#navbar p span{color:#000;padding-left:0px;padding-right:20px;}