#table1{margin-top:30px;}
.pagination{margin-top:20px;}
#se1{margin-left: 240px;margin-top: -25px;}
#se2{margin-left: 360px;margin-top: -168px;}
#btn_read{margin-left: -100px;margin-top:100px;}
#form6 div.form-group{margin-left:10px;}
a #a1{background: #f9b03e;margin-left: 150px;margin-right: 20px;border: none;width: 200px;height: 50px;background-color: #89c7d5;color: #fff;margin-left: 12px;margin-top: 20px;}
#btn3,#btn4{padding:19px 70px;}
