.register-box{width:340px;height:300px;background-color:#FFFFFF;border-radius:4px;margin-left:580px;}
.register-btn1{width:160px!important;height:30px!important;margin-left: 78px!important;margin-top: 20px!important;}
.register-input1{width:280px;height:40px;margin-top:5px;margin-left: 32px;}
.register-input2{width:280px;height:40px;margin-top:20px;margin-left: 32px;}
.register-title{color:#2db19a;font-size:24px;padding-top:15px;font-family:Microsoft YaHei;}
.register-remember{font-size:10px;color:black}
.register-checkbox{margin-top:10px;margin-left:32px}