h1{font-size: 30px;}
h5{font-size: 14px;}
h1,h5{color:#fff;}
.list-group a.list-group-item.active {background-color: #5ac18a;border:none;}
.list-group a{padding:21px 90px;text-align: center;}
.nav{background-color:#5ac18a;}
p{line-height: 40px;}
#page{margin:-7px 180px;}
#myTab li a{padding:20px 15px;font-weight: bold;color:#000;}
#myTab li.active a{color:#fff;background-color: #5ac18a}
#voc_list .navbar-form{margin-top:0px;}
.a1{color:#fff;}
.a2,.a3{color:#000;}
nav.pagination{margin-left:25px;margin-top:-20px;}
.pagination a{display:inline-block;padding: 5px 14px;background-color: #fff;border: 1px solid #ddd;border-radius: 15px;color: #428bca;text-decoration: none}
.pagination .current{background-color: #f5f5f5;color: #bb0e0e;padding: 7px 13px;border: 1px solid #ddd;border-radius: 15px;}
.pagination span{width: auto;padding: 1px;}
.bold{font-weight: bold;}
p.w680{letter-spacing: 0px;line-height: 22px;font-size: 12px;width:680px;}
p.p1,p.p2{margin-right:30px;}
p.p1{background:#f8f8f8;padding:15px 20px;margin-left:30px;line-height: 22px;}
p.p2{line-height:22px;padding-left:50px;padding-top: 30px;padding-bottom: 80px;}
hr{width:680px;margin-left:20px;}
.from{border:1px solid #ccc;border-radius: 4px;padding:10px 30px;margin-left:10px;}
.side_nav{width:250px;height:65px;background: #ebebeb;border:1px solid #ddd;display: block;color:#555;}
.side_nav:link,.side_nav:visited{color:#555;}
.side_nav:hover{text-decoration: none;width:250px;height:65px;background: #ddd;}
.side_nav.active{text-decoration: none;width:250px;height:65px;background: #ddd;}
html{overflow-x:hidden;}
