<%- content_for :head do %>
  <%= stylesheet_link_tag    "g" %>
<% end %>
<div class="content W730">
  <%= render "nav" %>
  <div class="tab-content">
    <div class="tab-pane active" id="voc_entry">
      <p class="unit">请输入要录入的词汇单元：&nbsp;&nbsp;&nbsp;unit</p>

      <form class="navbar-form navbar-left" role="search" method="post" action="index2.html">
        <div class="form-group">
          <select class="form-control se2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>3</option>
            <option>3</option>
            <option>3</option>
          </select><br>
          <button type="submit" class="btn btn-default b1">确定</button>
        </div>
      </form>

    </div>
  </div>
</div>