<ul class="nav nav-tabs" role="tablist" id="myTab">
  <li class="<%='active' if action_name == 'index'%>"><a href="/jijing_works" class="black">机经写作列表</a></li>
  <li class="<%='active' if action_name == 'new_group' || action_name == 'new_type' || action_name == 'new' %>"><a href="<%=new_group_jijing_works_path%>">机经写作录入</a></li>
</ul>
