<ul class="nav nav-tabs" role="tablist" id="myTab">
  <li class="<%='active' if action_name == 'index'%>"><a href="<%=tpo_listens_path%>" class="black">口语列表</a></li>
  <li class="<%='active' if action_name == 'new_type' || action_name == 'new'%>"><a href="<%=new_type_tpo_listens_path%>">口语录入</a></li>
</ul>